@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .back {
    font-weight: bold;
    cursor: pointer;
  }
}

form {
  width: 100%;
}